title=title + " - Website"
meta(charset='utf-8')
meta(name='keywords', content=tags)
meta(name='description', content=description)
link(rel='stylesheet', href='/assets/css/master.css')
link(rel='shortcut icon', href='/assets/logo.png')
