doctype html
head
  include includes/meta
body
  
  article
    <div class='group'>
      <a href='/'><img src='/assets/cmx.svg' alt='Home'></a>
      <a href='https://gitlab.com/zxdev/cmx'><img src='https://docs.gitlab.com/assets/images/gitlab-logo.svg' alt='Source on GitLab'></a>
      <a href='https://github.com/zsty/cmx'><img src='https://image.flaticon.com/icons/svg/25/25231.svg' alt='Source on GitHub'></a>
      <a href='/help.md'>Getting started</a>
      <a href='https://gitlab.com/zxdev/cmx/issues'>Report a bug</a>
    </div>
    #content!=content
