@import 'nib';
// Example styles (for the placeholder)

html, body
  margin 0

body
  background #fffbd8

article
  width 100%
  max-width 40rem
  margin 0 auto
  color darken(tan, 75%)
  padding 5rem 1rem
  font-family sans-serif

a
  padding 1rem 1.5rem
  border-radius 5px
  border solid 1px tan
  display inline-block
  color darken(tan, 75%)
  text-decoration none
  background darken(#fffbd8, 5%)
  &:hover
    background darken(#fffbd8, 10%)

  img
    max-height 2rem
    float left
    margin -0.5rem
    margin-right 0.5rem
