@import 'nib';
// Example styles (for the placeholder)

html, body
  margin 0

body
  background #fffbd8

article
  width 100%
  max-width 40rem
  transition margin 0.1s ease
  margin 1rem auto
  color darken(tan, 75%)
  padding 1rem
  box-sizing border-box
  font-family sans-serif

a
  color #34f
  text-decoration none

.group
  display flex
  border-radius 5px
  border solid 1px tan
  flex-wrap wrap
  overflow hidden
  a
    padding 1rem 1.5rem
    border-radius 5px
    text-align center
    flex 1
    white-space pre
    color darken(tan, 75%)
    text-decoration none

    background darken(#fffbd8, 5%)
    &:hover
      background darken(#fffbd8, 10%)
    img
      max-height 2rem
      margin -0.5rem
      margin-bottom -0.6rem
    border 0
    border-left solid 1px tan
    border-top solid 1px tan
    margin-top -1px
    margin-left -1px
    border-radius 0
    &:last-child
      border-right 0
@media all and (max-width: 40rem)
  article
    margin 0 auto
